/**{
    box-sizing: border-box; 
    outline: 1px solid limegreen !important;
}**/

#background {
  background-color: #222222;
}

#top {
  text-align: center;
  color: white;
}

#bottom {
  color: white;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0px 2rem 2rem 2rem;
}

#plus {
  height: 9rem;
  width: 9rem;
  position: relative;
  border: 3px dashed #555555;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 5%;
}

#newblog {
  cursor: pointer;
  border-radius: 5px;
  border: 1px;
  height: 50px;
  width: 50px;
  font-size: 35px;
}

#createBlog {
  height: 50%;
  max-width: fit-content;
  min-height: fit-content;
  min-width: fit-content;
  height: auto;
  background-color: #333333;
  border-radius: 1%;
  border: 4px solid black;
  margin: auto;
  display: none;
}

#image-form {
  background-color: #444443;
  padding: 2%;
  overflow-x:visible;
}

#image-form:after {
  content:'';
  display:block; 
  clear:both;
}

.inputlabel {
  color: white;
  font-size: 22px;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  display: inline-block; /** use inline-block to make margin work with label**/
  margin-right: 0.5rem;
}

#display-image-buttom {
  border-radius: 5%;
}

#titleinput {
  min-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#headingtext {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: white;
  font-size: 25px;
}

#description {
  background-color: white;
  border-radius: 1%;
  border: 0px;
  resize: none;
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submitform{
  cursor: pointer;
  border: 0px;
  font-size: 22px;
  margin: 5px;
  float:right; /** to make float right work use :after for parent div **/
  margin-top: 0.5rem;
  background-color: #444443;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

#cancelform{
  cursor: pointer;
  border: 0px;
  font-size: 22px;
  margin: 5px;
  float:left; /** to make float right work use :after for parent div **/
  margin-top: 0.5rem;
  background-color: #444443;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
